<footer class="footer">
    <div class="container">
        <div class="row text-center py-5 text-white">
            <div class="col-lg-4 my-3 ">
                <h4 class="pb-3 text-uppercase">
                    Location
                </h4>
                <p>
                    2215 John Daniel Drive
                    <br>
                    Clark, MO 65243
                </p>
            </div>

            <div class="col-lg-4 socialIcons my-3 ">
                <h4 class="pb-3 text-uppercase">
                    Around the Web
                </h4>
                <i class="fa-brands fa-facebook-f mx-1"></i>
                <i class="fa-brands fa-twitter mx-1"></i>
                <i class="fa-brands fa-linkedin-in mx-1"></i>
                <i class="fa-brands fa-dribbble mx-1"></i>
            </div>

            <div class="col-lg-4 my-3 Freelancer">
                <h4 class="pb-3 text-uppercase">
                    About Freelancer                
                </h4>
                <p>
                    Freelance is a free to use, MIT licensed Bootstrap theme created by Route
                </p>
            </div>
        </div>
    </div>

    <div class="copyRight end-0 py-3 text-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>