<section class="contact py-5">
    <div class="container">
        <h2 class="text-center text-uppercase  pt-5">
            contact me
        </h2>
        <div class="custom py-2 d-flex justify-content-center align-items-center w-100">
            <div class="custom-line me-3"></div>
            <i class="fa-solid fa-star fs-2"></i>
            <div class="custom-line ms-3"></div>
        </div>


        <div class="row">
            <div class="col-lg-8 mx-auto">

                <div class="control-group pt-4">
                    <div class="form-group pb-2">
                        <label for="">Name</label>
                        <input type="text" id="name" placeholder="Name" class="form-control">
                        <p></p>
                    </div>
                </div>
                
                <div class="control-group pt-4">
                    <div class="form-group pb-2">
                        <label for="">Email Address</label>
                        <input type="email" id="email" placeholder="Email Address" class="form-control">
                        <p></p>
                    </div>
                </div>

                <div class="control-group pt-4">
                    <div class="form-group pb-2">
                        <label for="">Phone Number</label>
                        <input type="number" id="phone" placeholder="Phone Number" class="form-control">
                        <p></p>
                    </div>
                </div>

                <div class="control-group pt-4">
                    <div class="form-group pb-2">
                        <label for="">Message</label>
                        <textarea id="message" placeholder="Message" class="form-control"></textarea>
                        <p></p>
                    </div>
                </div>

                <button class="btn mt-3 text-white btn-success">Send</button>
            </div>
        </div>
            
    </div>
</section>