<header class="home text-white text-center mt-5 ">
    <div class="container d-flex align-items-center flex-column">
        <img src="../../assets/imgs/avataaars.svg" class="pb-2" alt="">
        <h1>START ANGULAR</h1>
        <div class="custom d-flex justify-content-center align-items-center w-100">
            <div class="custom-line me-3"></div>
            <i class="fa-solid fa-star fs-2"></i>
            <div class="custom-line ms-3"></div>
        </div>
        <p class="mb-0 py-2">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</header>